PORT=4000
# Local MongoDB
MONGO_URL=mongodb://localhost:27017/shakib-task

# Production MongoDB Atlas (e.g. on Render)
# MONGO_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/taskflow?retryWrites=true&w=majority
